---
layout: default
title: Documentation
slug: documentation
subtitle: Every files inside, global styling and how to use and customize them
---

<div id="main-navigation" class="col-3 first">
	{% include navigation-documentation.html %}
</div>
<div id="content" class="col-11 offset-3">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nostrum et in laboriosam ipsum porro deleniti dolore doloribus rem. Dolor, doloremque, officia dolore eaque unde temporibus aut reprehenderit quos cum.

	{% include documentation/overview.html %}
	{% include documentation/style.html %}
</div>