---
layout: default
title: Documentation
slug: documentation
subtitle: Every files inside, global styling and how to use and customize them
---

<div id="main-navigation" class="col-3 first">
	{% include navigation-documentation.html %}
</div>
<div id="content" class="col-11 offset-3">
	<section id="intro-text">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus nostrum et in laboriosam ipsum porro deleniti dolore doloribus rem. Dolor, doloremque, officia dolore eaque unde temporibus aut reprehenderit quos cum.
		</p>
	</section>

	{% include documentation/overview.html %}
	{% include documentation/style.html %}
	{% include documentation/variables.html %}
	{% include documentation/type.html %}
	{% include documentation/grid.html %}
	{% include documentation/forms.html %}
	{% include documentation/buttons.html %}
	{% include documentation/tables.html %}
	{% include documentation/medias.html %}
	{% include documentation/utilitaries.html %}
	{% include documentation/mixins.html %}
	{% include documentation/print.html %}
	{% include documentation/normalize.html %}
</div>