---
layout: default
title: Getting started
slug: getting-started
subtitle: how to do it well
---

<div id="main-navigation" class="col-3 first">
	navigation spéciale get strated
</div>
<div id="content" class="col-11 offset-3">
	some text to fill the void

	{% include getting-started/download.html %}
	{% include getting-started/inside.html %}
	{% include getting-started/structure.html %}
	{% include getting-started/template.html %}
	{% include getting-started/settings.html %}
	{% include getting-started/components.html %}
</div>