/******************************************************
*
* BASE.LESS
*
* Set differents mixins for styles
* Table of content:
* 01 - INIT.
* 02 - YOUT CODE GOES HERE
*
* TODO:
* box sizing border box on everything!
*******************************************************/

/******************************************************
* 00 - INIT.
*******************************************************/
* {
	.box-sizing(); //cf http://paulirish.com/2012/box-sizing-border-box-ftw/
}
html, body{
	min-height: 100%;
}

html{
	font-size: ~"@{basesize-body}%" ; //base font size to 16px for small size
}

body{
	background: @bg-medium;
	border-top: 10px solid @primary;
}

/******************************************************
* NAIGATIONS
*******************************************************/
#header-logo{
	position: fixed;
	z-index: 9999;
	color: @body-color;
	left: 20px; top: 20px;
}
#menu-btn{
	position: fixed;
	z-index: 9999;
	right: 26px; top: 32px;
	height: 14px; width: 18px;
	#burger{
		background: @body-color;
		position: absolute;
		height: 2px; width: 18px;
		top: 6px;
		.transition(all, .1s, cubic-bezier(0, 1.3, 1, 1.3));
		&:after, &:before{
			content: "";
			background: @body-color;
			position: absolute;
			height: 2px; width: 18px;
			.transition(all, .1s, cubic-bezier(0, 1.3, 1, 1.3));
			
		}
		&:after{
			top: 6px;
		}
		&:before{
			top:-6px;
		}
	}
	&:hover #burger{
		&:before{
			top:-8px;
		}
		&:after{
			top:8px;
		}
	}
	&.active {
		#burger{
			.rotate(-45deg);
			&:before{
				.opacity(0);
			}
			&:after{
				.rotate(90deg);
				top: 0;
			}
		}
	}
}
#top-btn{
	visibility: hidden;
	position: fixed;
	z-index: 9999;
		height: 14px; width: 18px;
	right: 26px; top: 49px;
	.opacity(0);
	.scale(.1);
	.transition(all, .2s, cubic-bezier(0, 1.35, 1, 1.35));
		text-align: center;
	&.active{
		visibility: visible;
		.opacity(1);
		.scale(1);
	}
	img{
		top: 4px;
		position: absolute;
		right: 3px;
	}

}
.nav-offkit{
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 10px;
	background: @primary;
	text-align: center;
	z-index: 999;
	ul{
		margin:0 0 0.7em 0;
	}
	li{
		display: block;

	}
	a{
		font-family: @sans-serif;
		color: @body-color;
		display: inline-block;
		.size-small();
		padding: .4em 2em;
		text-decoration: none;
		position: relative;
		width: 100%;
		&.active:before{
			content:"";
			position: absolute;
			top: .6em; left: 20%;
			width: 0; height: 0;
			border: 8px solid transparent;
			border-left-color: @bg-medium;
		}
		&.active:after{
			content:"";
			position: absolute;
			top: .6em; right: 20%;
			width: 0; height: 0;
			border: 8px solid transparent;
			border-right-color: @bg-medium;
		}
	}
}

#shape-morph{
	position: fixed;
	top: -10px;
	z-index: 995;
}

#main-navigation{
	margin-bottom: 2em;
	.main-nav{
		text-align: center;
		&:before{
			content: "summary";
			.infos();
			width: 100%;
			text-align: center;
			display: block;
			padding-bottom: 9px;
			margin-bottom: 18px;
			border-bottom: 1px solid @body-color;
		}
		&:after{
			content: "";
			width: 100%;
			text-align: center;
			display: block;
			padding-bottom: 9px;
			margin-bottom: 1em;
			border-bottom: 1px solid @body-color;
		}
		ul{
			list-style: none;
			.size-small();
			margin-top: .2em;
		}
		li{
			
			
			margin: 0;
			a{
				color: @grey;
				display: block;
				width: 100%;
				font-weight: 300;
				padding-top: .1em;
				padding-bottom: .1em;
				padding-left: 0;
				&.active{
					color: @secondary;
				}
				&:hover{
					background-color: @lighter-grey;
				}
			}
		}
	}
}
/******************************************************
* 01 - YOUT CODE GOES HERE.
*******************************************************/
#main-header{

}

#main-content{
	margin-top: 120px;
	header{
		h1{
			text-align: center;
			.infos();
			margin-bottom: 2em;
		}
		h2{
			text-align: center;
			margin-top: 0;
		}
		margin-bottom: 6em;
	}

	#main-section{
		.clearfix();
		margin-bottom: 6em;
		position: relative;
		
		#content{
			article{
				h3.infos{
					.infos();
					padding-bottom: 0;
					margin-bottom: 1em;

					&:after{
						content: "";
						width: 33%;
						height: 1px;
						background: @body-color;
						margin-top: .8em;	

					}

				}
				.metas{
					margin-top: -6px !important;
					h5{
						.infos();
						color: @grey;
						margin-bottom: 0;
						margin-top: 0;
						&:before{
							content:"—";
							margin-top: 0;
							position: relative;
							display: block;
						}
					}
					p{
						.infos();
						color: @grey;
						margin-top: 0;
						margin-bottom: 0;
					}
					.infos();
					&:after{
							content:"—";
							position: relative;
							display: block;
						}
				}
			}
		}
	}
}

#main-footer{
	text-align: center;
	margin-bottom: 6em;
	p{
		.infos();
	}
}

.example{
	background: @bg-light;
	width: 100%;
	padding: 18px;
	.example-title{
		.infos();
		color: @secondary;
		margin-top: 0;
		margin-bottom: 18px;

	}
}

.offkit-title{
	letter-spacing: .05em;
	color: @secondary;
}
.less-title{
	letter-spacing: .05em;
	margin-left: .1em;
	margin-right: .05em;
}

/*
*/
.description{
	background: @bg-light;
	.clearfix();
	
}
.download-text{
	padding: 18px;
	p{
		position: relative;
		margin-right: 18px;
		&:before, &:after{
			content:"—";
			position: relative;
			display: block;
		}
	}
}
.download-zip,
.download-git{
	width: 50%;
	margin: 0;
	float: left;
	height: 175px;
	position: relative;
	text-align: center;
	img{
		margin-top: 2em;
	}
	p{
		position: absolute;
		width: 100%;
		font-family: @mono;
		.size-small();
		bottom: 18px;
	}
}

.download-zip{ background-color: @primary; }
.download-git{ background-color: @secondary; }