<a href="/" title="OFFKIT - a LESS starter kit" id="header-logo">
	<!-- <img src="/img/offkit_logo.svg" alt="" width="42" height="42"> -->
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 74 74" enable-background="new 0 0 74 74" height="42" width="42" preserveAspectRatio="xMinYMin" style="padding:10px;" id="ok-logo">
	 	<g id="offkit-circle">
	 		<path d="M37,73.8c-20.4,0-37-16.6-37-37s16.6-37,37-37s37,16.6,37,37S57.5,73.8,37,73.8z M37,2.8c-18.8,0-34,15.3-34,34s15.3,34,34,34s34-15.3,34-34S55.8,2.8,37,2.8z" />
			<circle id="offkit-circle" cx="37" cy="37" r="0" fill="#FF5C59"/>
		</g>
		<g id="offkit-letter">
			<rect x="27.2" y="48.8" width="20" height="3"/>
			<path d="M29.8,20.3h3c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.2-0.2,0.3-0.2,0.5v9.4l9.4-10.5c0.5,0.1,1.2,0.2,1.9,0.2h0.9L36.2,30l9.1,12.7L42,42.9l-7.7-11.4l-1.8,1.9v9.3h-2.7V20.3z"/>
		</g>
	</svg>
</a>