<nav class="main-nav">
	<ul>
		<li><a href="#article-download" class="active">Download it</a></li>
		<li><a href="#article-inside">What's inside</a></li>
		<li><a href="#article-structure">Structure</a></li>
		<li><a href="#article-template">Basic html template</a></li>
		<li>
			<a href="#article-settings">setting up OFFkit</a>
			<ul class="subnav">
				<li><a href="#section-style">style.less</a></li>
				<li><a href="#section-variables">_variables.less</a></li>
				<li><a href="#section-customize">Make it your own!</a></li>
			</ul>
		</li>
		<li><a href="#article-components">Components</a></li>
	</ul>
</nav>