<nav class="main-nav">
	<ul>
		<li><a href="#" class="active">Overview</a></li>
		<li><a href="#" class="">Style</a></li>
		<li><a href="#" class="">Variable &amps; Constant</a></li>
		<li><a href="#" class="">Type</a></li>
		<li><a href="#" class="">Grid</a></li>
		<li><a href="#" class="">Form</a></li>
		<li><a href="#" class="">Button</a></li>
		<li><a href="#" class="">Table</a></li>
		<li><a href="#" class="">Utilitaries</a></li>
		<li><a href="#" class="">Mixins</a></li>
		<hr>
		<li><a href="#" class="">Print</a></li>
		<li><a href="#" class="">normalize</a></li>
	</ul>
</nav>