<nav class="main-nav">
	<form action="#" id="live-search">
		<input type="text" id="l-s-input" placeholder="search the doc…" />
		<div id="l-s-icon">S</div>
		<div id="l-s-find-next"></div>
	</form>
	<ul>
		<li><a href="#article-overview" class="active">Overview</a></li>
		<li><a href="#article-style">Style.less</a></li>
		<li><a href="#article-variables">Constants &amp; Variables</a></li>
		<li><a href="#article-type">Type</a></li>
		<li><a href="#article-grid">Grid</a></li>
		<li><a href="#article-forms">Forms</a></li>
		<li><a href="#article-buttons">Buttons</a></li>
		<li><a href="#article-tables">Tables</a></li>
		<li><a href="#article-medias">Medias</a></li>
		<li><a href="#article-utilitaries">Utilitaries</a></li>
		<li><a href="#article-mixins">Mixins</a></li>
		<hr>
		<li><a href="#article-print">Print</a></li>
		<li><a href="#article-normalize">normalize</a></li>
	</ul>
</nav>