<article id="article-settings">
	<h3>setting up Offkit</h3>
	<section id="section-style" class="clearfix">
		<h3 class="infos clearfix">style.less</h3>
		<div class="col-9 first">
			<p>
				Ths is the core of Offkit, the file that you'll output into <code>style.css</code>, that import every other codekit part &amp; that sets up your media queries. The other files imported here follow the structure above (the order is important) but you might want to comment/decomment a few lines to suit your need before you start anything else. Let’s say you don't need a <b>component</b> or your project does not make use of <b>tables</b>, well, feel free to disable the corresponding line here.
			</p>
		</div>
	</section>
	<section id="section-variables" class="clearfix">
		<h3 class="infos clearfix">_variables.less</h3>
		<div class="col-9 first">
			<p>
				first file you might want to customize is the <code>import/_variables.less</code>.
			</p>
		</div>
	</section>
	<section id="section-customize" class="clearfix">
		<h3 class="infos clearfix">Make it your own!</h3>
		<div class="col-9 first">
		</div>
	</section>
</article>