<article id="article-structure">
	<h3>structure</h3>
		<div class="col-9 first">
{% highlight text %}
offkit/
├── style.less
├── _base.less
├── _480.less
├── _768.less
├── _1024.less
├── _1240.less
└── import/
    ├── _normalize.less
    ├── _constants.less
    ├── _variables.less
    ├── _print.less
    ├── _grid.less
    ├── _type.less
    ├── _forms.less
    ├── _tables.less
    ├── _buttons.less
    ├── _utilitaries.less
    ├── _mixins.less
    └── mixins/
    	├── _appearance.less
    	├── _center.less
    	├── _clearfix.less
    	├── _grid-measures.less
    	├── _opacity.less
    	├── _placeholder.less
    	├── _placement.less
    	├── _size.less
        └── … (all vendor prefix mixins)
    └── components/
        └── … 
{% endhighlight %}
	</div>
</article>