<article id="article-template">
	<h3>Basic html template</h3>

	<div class="col-9 first">
		<p>We do recommand you to use html5 boilerplate as a your default html template, however, a good starting point might be the classical:</p>
		<div class="example-title">Basic html</div>
{% highlight html linenos %}
<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <!-- processed and compressed offkit files -->
        <link rel="stylesheet" href="css/offkit.css">
        <script src="js/vendor/modernizr.min.js"></script>
    </head>
    <body>
        <!-- Add your site or application content here -->
        <p>Hello world!</p>

        <!-- JS goes in the footer -->
        <script src="js/main.js"></script>
    </body>
</html>
{% endhighlight %}
	</div>
		<div class="col-2 last metas">
		<h5>
			LINK:
		</h5>
		<p>
			<a href="http://html5boilerplate.com/">html5boilerplate.com</a>
		</p>
	</div>
</article>